{{define "header"}}
<!DOCTYPE html>
<html lang={{.Defaults.LangShort}}>
<header>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<title>{{.Defaults.Title}}</title>
</header>
{{end}}